<h2>Admin</h2>
<div>
    <p><a href="../../Admin/NewTasks" style="font-size: 1.2vw;">New task requests:</a> @ViewBag.waiting</p>
</div>
<h4>Tables</h4>
<ul>
    <li><a href="../../Admin/Projects">Projects</a></li>
    <li><a href="../../Admin/Tasks">Tasks</a></li>
    <li><a href="../../Admin/Users">Users</a></li>
</ul>