@if (UserControll.LoggedAs != null && UserControll.LoggedAs.IsAdmin)
{
    <h2>Projects</h2>
    <div>
        <a href="#" class="button" onclick="showInsert(); return false;" id="insert-btn">Add new</a>
    </div>
    <div id="insert" style="display: none;">
        <h4>Add new</h4>
        <form id="insert-form">
            <div class="input-container">
                <div class="input-box">
                    <h3>Title</h3>
                    <input type="text" id="title-insert" />
                </div>
                <div class="input-box">
                    <h3>Start time</h3>
                    <input type="datetime-local" id="start-time-insert" />
                </div>
                <div class="input-box">
                    <h3>End time</h3>
                    <input type="datetime-local" id="end-time-insert" />
                </div>
                <input type="submit" value="Add" />
                <a href="#" class="button" onclick="hideInsert(); return false;">Hide</a>
            </div>
            <div class="error-container"></div>
        </form>
    </div>
    <div id="update" style="display: none;">
        <h4>Edit</h4>
        <form id="update-form">
            <input type="hidden" id="id" />
            <div class="input-container">
                <div class="input-box">
                    <h3>Title</h3>
                    <input type="text" id="title" />
                </div>
                <div class="input-box">
                    <h3>Start time</h3>
                    <input type="datetime-local" id="start-time" />
                </div>
                <div class="input-box">
                    <h3>End time</h3>
                    <input type="datetime-local" id="end-time" />
                </div>
                <input type="submit" value="Save" />
                <a href="#" class="button" onclick="hideUpdate(); return false;">Hide</a>
            </div>
            <div class="error-container"></div>
        </form>
    </div>
    <div style="margin: 2vw 0">
        <a href="#" class="button" onclick="showSearch(); return false;" id="search-btn">Search</a>
    </div>
    <div id="search" style="display: none;">
        <h4>Search</h4>
        <form id="search-form">
            <input type="hidden" id="id" />
            <div class="input-container">
                <div class="input-box">
                    <h3>Title</h3>
                    <input type="text" id="title-search" />
                </div>
                <div class="input-box">
                    <h3>Creator</h3>
                    <input type="text" id="creator-search" />
                </div>
                <input type="submit" value="Find" />
                <a href="#" class="button" onclick="get(); return false;">Reset</a>
                <a href="#" class="button" onclick="hideSearch(); return false;">Hide</a>
            </div>
            <div class="error-container"></div>
        </form>
    </div>

    <div id="pagination" class="center">

    </div>
    <div class="center">
        <h4 id="search-error" style="display:none">Nothing founded</h4>
        <table id="projects-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Creator</th>
                    <th>Created time</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
    <script>
        @{
            string domain = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
        }
        const url = '@domain/api/projects';

        let _pagination = new Pagination();

        function get() {
            $.ajax({
                url: url,
                method: "get",
                dataType: "json"
            }).done(function (data) {
                if (data.StatusCode === 200) {
                    _pagination.array = data.Projects;
                    $("#pagination").html(_pagination.getHtml());
                    display();

                    if (data.Projects.length === 0)
                        hideTable();
                    else
                        showTable();
                }
                else {
                    //$(".error-container").get(0).innerHTML = "<p>" + data.ErrorMessage + "</p>";
                }
            });
        }
        get();

        $("#insert-form").submit(function (e) {
            e.preventDefault();

            let title = $("#title-insert").val();
            let start = $("#start-time-insert").val();
            let end = $("#end-time-insert").val();

            let data = {
                "Name": title,
                "StartTime": start,
                "EndTime": end
            }

            $.ajax({
                url: url,
                data: JSON.stringify(data),
                contentType: "application/json",
                method: "post",
                dataType: "json"
            }).done(function (data) {
                console.log(data);
                if (data.StatusCode === 200) {
                     $("#search-form").submit();
                    $(".error-container").get(0).innerHTML = "<p class='success'>Project added</p>";
                }
                else {
                    let html = "";
                    data.ErrorMessage.forEach(function (error) {
                        html += "<p>" + error + "</p>";
                    });
                    $(".error-container").get(0).innerHTML = html;
                }
            });
        });

    function hideTable() {
         $("#search-error").show();
        $("#projects-table").hide();
        $("#pagination").hide();
    }

    function showTable() {
        $("#search-error").hide();
        $("#projects-table").show();
        $("#pagination").show();
    }

        $("#search-form").submit(function (e) {
            e.preventDefault();

            let title = $("#title-search").val();
            let creator = $("#creator-search").val();

            if (title === null) {
                title = "";
            }

            if (creator === null) {
                creator = "";
            }

            $.ajax({
                url: url + "?title=" + title + "&creator=" + creator,
                method: "get",
                dataType: "json"
            }).done(function (data) {
                if (data.StatusCode === 200) {
                    _pagination.array = data.Projects;
                    _pagination.currentPage = 1;
                    $("#pagination").html(_pagination.getHtml());
                    display();
                    if (data.Projects.length === 0)
                        hideTable();
                    else
                        showTable();
                }
            });
        });

        $("#update-form").submit(function (e) {
            e.preventDefault();

            let id = $("#id").val();
            let title = $("#title").val();
            let start = $("#start-time").val();
            let end = $("#end-time").val();

            let data = {
                "Id": id,
                "Name": title,
                "StartTime": start,
                "EndTime": end
            }

            $.ajax({
                url: url + "?id=" + id,
                data: JSON.stringify(data),
                contentType: "application/json",
                method: "put",
                dataType: "json"
            }).done(function (data) {
                console.log(data);
                if (data.StatusCode === 200) {
                    get();
                    $(".error-container").get(1).innerHTML = "<p class='success'>Changes saved</p>";
                }
                else {
                    let html = "";
                    data.ErrorMessage.forEach(function (error) {
                        html += "<p>" + error + "</p>";
                    });
                    $(".error-container").get(1).innerHTML = html;
                }
            });
        });

        function drop(id) {
            $.ajax({
                url: url + "?id=" + id,
                method: "delete",
                dataType: "json"
            }).done(function (data) {
                if (data.StatusCode === 200) {
                    hideUpdate();
                     $("#search-form").submit();
                    page(_pagination.currentPage);
                }
            });
        }

        function showSearch() {
            $("#search-btn").hide();
            $("#search").show("fast");
        }

        function hideSearch() {
            $("#search-btn").show();
            $("#search").hide("fast");
        }

        function showInsert() {
            $("#insert-btn").hide();
            $("#insert").show("fast");
        }

        function hideInsert() {
            $("#insert-btn").show();
            $("#insert").hide("fast");
        }

        function showUpdate(id) {
            let obj = null;
            $.ajax({
                url: url + "?id=" + id,
                method: "get",
                dataType: "json"
            }).done(function (data) {
                console.log(data);
                if (data.StatusCode === 200) {
                    obj = data.Projects[0];

                    $("#id").val(id);
                    $("#title").val(obj.Name);
                    $("#start-time").val(obj.StartTime);
                    $("#end-time").val(obj.EndTime);

                    $("#update").show("fast");
                }
            });
        }

        function hideUpdate() {
            $("#update").hide("fast");
        }

        function display() {
            let array = _pagination.getElementsByPage();
            let html = "";

            array.forEach(function (obj) {
                html += "<tr>";
                html += "<td>" + obj.Name + "</td>";
                html += "<td>" + obj.CreatorLogin + "</td>";
                html += "<td>" + obj.CreatedTimeString + "</td>";
                html += "<td>" + obj.StartTimeString + "</td>";
                html += "<td>" + obj.EndTimeString + "</td>";
                html += "<td>" + obj.Status + "</td>";
                html += "<td><a href='#' onclick='showUpdate(" + obj.Id + "); return false;'>Edit</a></td>";
                html += "<td><a href='#' onclick='drop(" + obj.Id + "); return false;'>Delete</a></td>";
                html += "</tr>";
            });

            $("#table-body").html(html);
        }

        function page(page_index) {
            let pageCount = Math.ceil(_pagination.array.length / _pagination.perPage);
            if (page_index > pageCount)
                page_index = pageCount;
            else if (page_index < 1)
                page_index = 1;

            _pagination.currentPage = page_index;

            $("#pagination").html(_pagination.getHtml());
            display();
        }

        function first() {
            _pagination.currentPage = 1;
            $("#pagination").html(_pagination.getHtml());
            display();
        }

        function previus() {
            _pagination.currentPage = _pagination.currentPage - 1;
            if (_pagination.currentPage < 1)
                _pagination.currentPage = 1;
            $("#pagination").html(_pagination.getHtml());
            display();
        }

        function last() {
            _pagination.currentPage = Math.ceil(_pagination.array.length / _pagination.perPage);
             $("#pagination").html(_pagination.getHtml());
            display();
        }

        function next() {
            _pagination.currentPage = _pagination.currentPage + 1;
            if (_pagination.currentPage > Math.ceil(_pagination.array.length / _pagination.perPage))
                _pagination.currentPage = Math.ceil(_pagination.array.length / _pagination.perPage);
             $("#pagination").html(_pagination.getHtml());
            display();
        }
    </script>
}
else
{
    <h2>No access</h2>
}
